.row {
    display: flex;
    width: 50%;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

figure:hover {
    transition-duration: 2s;
    transform: scale(1.25);
}

body {
    padding-left: 30px;
}